/* color variables */


:root {
    --offwhite: #f7f7f7;
    --charcoal: #36494e;
    --lightgrey: #6c7274;
    --darkblue: #305575;
    --middleblue: #416788;
    --yellow: #fcd581;
    --lightyellow: #fce4b0;
    --lightblue: #deeefd;
}

/* Small Screens */
/* hamburger nav */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.head-bar {
    background-color: var(--middleblue);
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--lightyellow);
}

button:hover {
    cursor: pointer;
}

nav {
    background-color: var(--darkblue);
    font-family: 'Faustina', sans-serif;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: var(--yellow);
    border-top: 1px solid var(--charcoal);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--lightyellow);
}

.head-bar {
    display: flex;
    justify-content: space-evenly;
}

.head-bar div {
    text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.hide {
    display: none;
}


/* main */

body{
    font-family: "Roboto", sans-serif;
}
main {
    background-color: var(--offwhite);
    margin: 0;
    min-height: 80vh;
}

header {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Faustina", serif;
    color: var(--charcoal)
}

#banner{
    padding: 10px 20px;
    background-color: var(--lightyellow);
    text-align: center;
    width: 100%;
    font-size: 18px;
    display: none;
}

.top-heading {
    margin-bottom: 0;
    color: var(--yellow);
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    padding-top: 20px;
}

h3 {
    font-size: 1.4em;
}

h4{
    margin-bottom: 5px;
    font-style: italic;
    font-size: 20px;
}
.motto {
    margin: 5px 10px 10px 10px;
    color: var(--lightyellow);
}

p,
li,
a {
    font-family: "Roboto", sans-serif;
    color: var(--charcoal)
}

.content-box {
    box-shadow: 2px 5px 10px -7px var(--charcoal), -2px -5px 10px -7px white;
    margin: 20px;
    background-color: var(--lightblue);
}

#weather-summary {
    box-shadow: 2px 5px 10px -7px var(--charcoal), -2px -5px 10px -7px white;
    background-color: rgba(222, 244, 253, .7);
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 250px;
    padding: 10px;
    

}

#weather-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#weather-keys{
    text-align: right;
    
}

#weather-values{
    text-align: left;
    padding-left: 5px;
    
}
#weather-values p{
    color: var(--middleblue)
}

.hero-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.overlay-container{
    position: relative;
    
    width:90%;
    margin: 0 auto;
}

#forecast {
    display: none;
}

#article {
    padding: 10px;
    width: 90%;
    margin: 50px auto;
}

#article img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}


/* UPcoming Events tab */
#events{
    text-align: center;
    margin-top: 80px;
    width: 90%;

}

#events h3{
    padding-top: 10px;
    
}
#event-content{
    display: flex;
    justify-content: center;
    
}

#event-content div{
    padding: 0 20px 10px;
}

#event-dates{
    text-align: right;
    
}

#event-titles{
    text-align: left;
    
}

/* footer */
.footer-top {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--middleblue);
    border-top: 1px solid var(--charcoal);
}

.contact-info {
    text-align: left;
    margin: 0 auto;
}

.contact-info p {
    color: var(--lightyellow);
}

.map {
    width: 60%;
    display: none;
    margin: 10px auto 30px;
}

.footer-info {
    display: flex;
    justify-content: space-between;

}

.strong{
    font-weight: bold;
    font-size: 18px;
}
.social-icons{
    opacity: .9;
    margin-bottom: 20px;
}

.social-icons img{
    width: 50px
}
.footer-bar {
    background-color: var(--darkblue);
    padding: 30px;
}

.footer-bar a {
    display: block;

}

.footer-bar p,
.footer-bar a,
.footer-bar div {
    color: var(--lightyellow);
    margin: 0;
}

#date {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}


/* Medium Screens */

@media only screen and (min-width: 664px) {


    nav{
        padding: 0 10%;
    }
    
    nav button {
        display: none;
    }

    .hide {
        display: flex;
        justify-content: space-between;
    }

    #primaryNav li a,
    #primaryNav li {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    #primaryNav a {
        padding: 20px 10px;
    }

    .head-bar {
        justify-content: center;
    }

    #forecast{
        display:block;
        text-align: center;
        border-collapse: collapse;
    }

    #forecast-table{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border-collapse: collapse;
        padding: 10px;
        width: 90%;
        background-color: var(--yellow)
        
    }
   
    #forecast-table p{
        
        justify-self: stretch;
        align-self: stretch;
        margin: 0;
        border-collapse: collapse;
    }

    #forecast-table img{
        justify-self: center;
        padding: 5px;
        
    }
    .content-box {
        width: 80%;
        margin: 20px auto;
    }

  

    .footer-info p,
    .footer-info a {
        font-size: 1em;
    }

    #date {
        margin-top: 10px;
        font-size: 1em;
    }

    .map {
        width: 300px;
        margin: 20px;
    }

    .contact-info {
        margin-top: 20px;
        text-align: left;
        font-size: 1em;
        margin: 50px;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-bar {
        padding: 20px;
    }

    #article {
        display: flex;
        padding: 20px;
        margin-bottom: 0;
        word-wrap: break-word;
    }

   

    #article img {
        margin-left: 20px;
        height: 100%;
        float: right;
    
        
    }

    #forecast-placeholder {
        width: 100%;
        height: 30px;
        background-color: var(--middleblue);
        display: block;
    }

    main {
        max-width: 900px;
        padding: 20px;
        margin: 0 auto;
    }
    .map{
        display: block;
        height: 300px;
    
    }
}



/* Large Screens */
@media only screen and (min-width: 1100px) {
    #primaryNav a {
        padding: 10px 5px;
    }

    h2 {
        font-size: 2.5em;
    }


    .top-heading {
        font-size: 2.6em;
    }

    .motto {
        font-size: 1.1em;
    }

    .logo {
        width: 150px;
    }

    footer {
        width: 100%;
        margin: 0 auto;
    }

    .footer-top {
        justify-content: space-evenly;
    }

    .footer-bar {
        padding: 20px 20%;
    }

    .footer-info {
        justify-content: center;
    }

    .footer-info p,
    .footer-info a {
        padding: .5em;
    }

    #date {
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

}